streamlit
opencv-python
opencv-python-headless
opencv-contrib-python
PyPDF2
altair
setuptools
transformers
tensorflow==2.17.0
keras==2.12.0
torch>=2.2.0
numpy
PyMuPDF==1.24.0
sentencepiece
tf-keras
python-dotenv
Pillow
